@import url(http://fonts.googleapis.com/css?family=Cuprum&subset=latin,cyrillic);
html,
body {
    height: 100%; font-family: 'Cuprum', sans-serif; background: #e6e6e6;
}

.wrap {
    min-height: 100%;
    height: auto;
    max-width: 1260px; margin: 0 auto; line-height: normal; min-width: 1000px; background: #fff;
    position: relative;
}

.forum-header{
    height: 86px; background: #fff; padding: 0 30px;
}
.forum-logo{
   width: 20%; float: left;
}
.link-logo{
    display: block; padding: 10px 0 0 0;
}
.forum-logo img{
    max-width: 100%;
}
.time-delivery{
    font-size: 16px; width: 30%; float: left;
}
.time-delivery p{
    padding: 20px 15px 0 15px; margin: 0; color: #464646;
}
.time-delivery p span{
    color:#8d340e;
}
.forum-call{
    width: 25%; float: left;  position: relative;
}
.call-img{
    position: absolute; top:20px; right:165px;
}
.link-call{
    position: absolute; top:30px; right: 0; border-bottom: 1px dashed #8d340e;
}
.link-call a{
    font-size: 21px; color:#8d340e;
}
.link-call a:hover,.link-call a:focus{
    text-decoration: none; outline: none;
}
.forum-phone{
    width: 25%; float: right; text-align: right;
}
.forum-phone p{
    margin: 0;
}
.forum-phone p.phone-text{
    color:#f59e00; font-size: 16px; padding: 10px 0 0 0;
}
.forum-phone p.phone-number{
    font-size: 32px; color: #464646;
}
.forum-phone p.phone-number span{
    color:#8d340e;
}
.myclose{
    color:#8d340e;
}
.close{
    opacity: 1;
}

.line-menu{
    height: 50px; background: #f9db6a;
}
.forum-menu-catalog{
    width:30%; height: 50px; float: left; background: #8d340e url('/image/mc.jpg');
    background-repeat: no-repeat; background-position: right; padding: 0 20px 0 30px;
    position:relative;
}
.forum-menu-pages{
    width:45%; height: 50px; float: left; background: #f59e00 url('/image/mc2.jpg');
    background-repeat: no-repeat; background-position: right; padding: 6px 20px 0 0;
}
.forum-cart{
    width:25%; height: 50px; float: left;
}
.forum-catalog-menu{
    width:50%; float: left; padding: 13px 0 0 0;
}
.forum-catalog-menu a{
    color:#fff; border-bottom: 1px dashed #fff;
}
.forum-catalog-menu a:hover,.forum-catalog-menu a:focus{
    text-decoration: none; outline: none;
}
.forum-catalog-search{
    width:50%; float: left; padding: 10px 0 0 0; position: relative;
}
.forum-catalog-search input[name="searchCatalog"]{
    width: 100%; border:1px solid #f59e00; padding: 5px 20px 5px 3px;
}
.lupa{
    display: block;
    position: absolute;
    top: 16px;
    right: 5px;
    font-size: 16px;
    color: #8d340e;
    cursor: pointer;
}
/* Pages Menu
------------------------------------------------------------------------------------------------------*/
.pages-menu {
    display: table; width: 100%; margin: 0; padding: 0; list-style: none;
}
.pages-menu li {
    display: table-cell; float: none; padding: 8px 15px; text-align: center; position: relative;
}
.pages-menu li a {
    font-size: 16px; color: #000; text-decoration: none;
    border-bottom: 1px dashed #000;
}
.pages-menu li img{
    cursor: pointer;
}
.child{
    display: none;
    margin: 0px;
    padding: 0px;
    background: #F59E00 none repeat scroll 0% 0%;
    position: absolute;
    left: 0px;
    top: 44px;
    width: 100%;
    padding: 0 0 20px 0;
}
.child li{
    display: list-item; margin: 0; padding: 0; text-align: left; list-style: none; padding: 8px 10px 0 20px;
}
.child li a{
    font-size: 15px;
}
.child li span{
    font-size: 10px; color:#000;
}

/*.pages-menu li a:hover {
    color: #464646;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    outline: none;
}*/
.pages-menu li a:focus{
    outline: none;
}

.login-widget-wrap{
    width: 40%; float: left;
}
.login-widget-wrap a{
    display: block; padding: 16px 0 0 0; text-align: center; color: #8d340e;
}
.login-widget-wrap a:hover,.login-widget-wrap a:focus{
    text-decoration: none; outline: none;
}

/* LOGIN
-------------------------------------------------------------------------------------------------------*/
.site-login{
    width: 50%; margin: 30px auto; background: #fff; padding: 20px; border-radius: 4px; box-shadow: 1px 1px 2px #555;
}
.site-login h1{
    margin-top: 0;
}
.btn-yellow{
    background: #F9DB6A; width: 100%; color:#8d340e; font-size: 20px;
}

/* CART WIDGET
------------------------------------------------------------------------------------------------------*/
.cart-widget-wrap{
    width: 60%; float: left;
}
.cart-widget-wrap > a{
    display: block; padding: 13px 0 0 5px; text-align: left; color: #8d340e; height: 50px;
    border-left:1px solid #f9db6a; border-top:1px solid #f9db6a;
}
.img-cart{
    background: url('/image/minicart.png'); background-repeat: no-repeat;
    background-position: left bottom; display: inline-block; width: 25px; height: 18px; margin-right: 3px;
}
.cart-widget-wrap a:hover,.login-widget-wrap a:focus{
    text-decoration: none; outline: none;
}
.cart-widget-wrap > a:hover{
    border-left:1px solid #ef9a00; border-right:1px solid #ef9a00;  border-top:1px solid #ef9a00;
    background: #fef7de;
}
.inner-cart-widget{
    position: absolute; top:136px; right: 0; width: 350px; padding: 20px; background: #fef7de;
    border-right:1px solid #ef9a00;  border-bottom:1px solid #ef9a00; border-left:1px solid #ef9a00;
    display: none; z-index: 10000;
}

.tbl-widget-cart{
    width: 100%; border-collapse: collapse;
}

.tbl-widget-cart tr{
    border-bottom: 1px solid #ef9a00;
}
.tbl-widget-cart tr:last-child{
    border: none;
}

.tbl-widget-cart tr td{
    padding: 10px 5px;
}
.tbl-widget-cart tr td a.lnk-name{
    color: #3a3939;
}
.btn-widget-issue{
    display: block; width: 200px; text-transform: uppercase; padding: 10px; background: #8d340e; color:#fff;
    text-align: center; margin: 10px auto;
}
.btn-widget-issue:hover{
    color:#fff; text-decoration: none;
}

/*BANER-FORM-HOME
------------------------------------------------------------------------------------------------------*/
.baner-form-wrap{
    width: 100%; overflow: hidden; margin-top: 5px;
}
.baner-home{
    width: 73%; float: left; background: #f9db6a;
}
.form-home{
    width:27%; float: left; background: #f59e00;
}
.inner-baner{
    width:25%; float: left;
}
.inner-baner img{
    max-width: 100%;
}
.block-text{
    overflow: hidden;
}
.block-text.block-t{
    background: #f59e00;
}
.block-t p{
    padding: 30px 0 0 20px; font-size: 30px; color: #5a1b00; margin: 0;
}
.block-pr p{
    font-size: 25px; color: #5a1b00; margin: 0; padding: 20px 20px 0 0; text-align: right;
}
.block-text.block-f{
    background: #8d340e;
}
.block-f p{
    color:#fff; padding: 30px 0 0 20px;
}
.block-z p{
    color:#fff; padding: 30px 20px 0 0px; color: #5a1b00; text-align: right;
}
.block-form{
    width:275px; margin: 0 auto; height: 100%;
}

.checkbox-modern{
    display: block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 8px auto;
    width: 85%;
}
.checkbox-modern input[type=checkbox] {
    /* hide original check and radio buttons */
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 2;
}
.checkbox-modern input[type="checkbox"] + label {
    padding-left: 24px; color:#8d340e; font-weight: normal; padding-top:5px;
}
.checkbox-modern input[type="checkbox"] + label::before,
.checkbox-modern input[type="checkbox"] + label::after {
    /* custom radio and check boxes */
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -8px;
    width: 16px;
    height: 16px;
}
.checkbox-modern input[type="checkbox"] + label::before {
    background: #ffffff;
}
.checkbox-modern input[type="checkbox"] + label::after {
    background-color: #8d340e;
    border:4px solid #fff;
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
}

.checkbox-modern input[type="checkbox"]:checked + label::after {
    display: block;
}
.checkbox-modern input[type="checkbox"]:checked + label::before,
.checkbox-modern input[type="checkbox"]:checked + label::after {
    -webkit-animation: cd-bounce 0.3s;
    -moz-animation: cd-bounce 0.3s;
    animation: cd-bounce 0.3s;
}
@-webkit-keyframes cd-bounce {
    0%, 100% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.8);
    }
}
@-moz-keyframes cd-bounce {
    0%, 100% {
        -moz-transform: scale(1);
    }
    50% {
        -moz-transform: scale(0.8);
    }
}
@keyframes cd-bounce {
    0%, 100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
    }
}

.home-input{
    width:85%; margin: 2px auto; display: block;
    background: #feecca; padding: 5px 3px; border:1px solid #d48a05; color:#8d340e;
}
#btn-cons{
    width: 85%; margin: auto; display: block; background: #8d340e; border: none;
    color:#fff; padding: 8px 5px;
}
.ramka{
     width: 90%; margin: 25px auto; padding: 10px; border: 2px solid #fff;
 }
.ramka h1{
    margin: 0; color:#8d340e; font-size: 25px; text-align: center;
}
.ramka p{
    margin: 0; color:#8d340e; text-align: center;
}

/* CATALOG BLOCK
-------------------------------------------------------------------------------------------------------*/
.header-catalog-block{
    height: 56px; padding: 0 30px; margin: 20px 0 0 0; border-bottom: 1px solid #f59e00; position: relative;

}
.inner-block{
    height: 56px; width:40%; background: url('/image/innerblock.jpg');
    background-position: top left; background-repeat: no-repeat; position: absolute; top:1px; left:30px;

}
.inner-inner-block{
    height: 56px; background: url('/image/innerinnerblock.jpg');
    background-position: top right; background-repeat: no-repeat;
}
.inner-inner-block h1{
    font-size: 24px; color:#464646; text-align: center; margin: 0; padding: 20px 0 0 0;
}
.catalog-block{
    position: relative;
}
.left-block{
    width: 65%; float: left;
}
.right-block-pages{
    background: #fff; float: right; width:322px;
}
.wrap-right-block{
    width:292px; margin-top:-56px;
}

.header-right-pages{
    width:292px; height: 55px; background: url("/image/shapka.jpg");
    padding: 12px 0 0 100px; font-size: 20px; color:#8d340e; line-height: 17px;
}
.item-right-pages{
    border-left: 1px solid #f59e00; border-right: 1px solid #f59e00; border-bottom: 1px solid #f59e00;
    padding: 20px 0 20px 50px; background: url("/image/strelka.jpg"); background-repeat: no-repeat; background-position: 20px center;
}
.item-right-pages a{
    font-size: 16px; color:#097ca8; text-decoration: underline; text-transform: uppercase;
}
.item-right-pages p{
    font-size: 16px; color:#464646; margin: 0;
}

.middle-header-right-block{
    width:292px; height: 55px; background: url("/image/shapka2.jpg");
    padding: 10px 0 0 100px; font-size: 20px; color:#8d340e; line-height: 17px; margin-top: -1px;
}


.catalog-links-home{
    width: 100%; border-collapse: collapse; margin: 15px 15px 15px 30px;
}
.catalog-links-home tr td{
    padding: 15px 5px; width: 33.33%; vertical-align: top;
}
.header-links{
    overflow: hidden;
}
.header-links img{
    float: left; margin-right: 5px;
}
.header-links span{
    color:#8d340e; font-size: 19px; line-height: 21px;
}
.links-cat{
    clear: both; margin: 15px 0; list-style: none;
}
.plus{
    display: inline-block; width:11px; height:13px; background: url("/image/plus.png");
    cursor:pointer; margin-right: 5px;
}
.links-cat li a{
    color:#097ca8; text-decoration: underline;
}
/*TABS
------------------------------------------------------------------------------------------------------*/
.forum-tabs{
    margin: 50px 0 0 0;
}
.forum-tabs > .nav{
    padding-left: 30px;
}
.forum-tabs > .nav-tabs{
    border-bottom:1px solid #f59e00;
}

.forum-tabs >.nav-tabs > li > a{
    border: 1px solid #f59e00;
    border-radius: 0;
    margin-right: 0;
    float: left;
    border-left: none;
    border-right: none;
    border-top:1px solid #f59e00;
    border-bottom: 1px solid;
    border-bottom-color: transparent;
    height: 55px;
    background: url("/image/tabsbg.jpg");
    font-size: 24px;
    color:#8d340e;
    outline: none;
}
.forum-tabs > .nav-tabs > li.active > a, .forum-tabs > .nav-tabs > li.active > a:hover, .forum-tabs > .nav-tabs > li.active > a:focus{
    border-left: none;
    border-right: none;
    border-top:1px solid #f59e00;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    float: left;
    height: 55px;
    background: #fff;
    color:#8d340e;
    outline: none;
}
.forum-tabs > .nav-tabs > li.active >.bglefttab{
    height: 55px; width:27px; float: left; background: url("/image/lefttab.jpg");
    border-bottom: 1px solid #f59e00;
}
.forum-tabs > .nav-tabs > li.active >.bgrigthtab{
    height: 55px; width:27px; float: left; background: url("/image/righttab.jpg");
    margin-right: 10px; border-bottom: 1px solid #f59e00;
}

.bglefttab{
    height: 55px; width:27px; float: left; background: url("/image/lefttabfull.jpg");
    border-bottom: 1px solid #f59e00;
}
.bgrigthtab{
    height: 55px; width:27px; float: left; background: url("/image/righttabfull.jpg");
    margin-right: 10px; border-bottom: 1px solid #f59e00;
}
.forum-tabs > .nav-tabs > li.active > .bgrigthtab,.forum-tabs > .nav-tabs > li.active > .bglefttab{
    border-bottom: none;
}
.forum-tabs > .nav-tabs > li > a:hover{
    background: url("/image/tabsbg.jpg");
}
.inner-inner-block p{
    margin: 0; text-align: center;
}
/* SLIDER
-------------------------------------------------------------------------------------------------------*/
.wrap-slider-home{
    margin: 40px 0;
}
.wrap-slider-home>.bx-wrapper .bx-viewport{
    box-shadow: none; -webkit-box-shadow: none;
}
.item-slider-home{
    border: 1px solid #c6c6c6; margin-bottom: 10px; position: relative;
}
.item-slider-home a:hover{
    text-decoration: none;
}
.item-slider-home h1{
    font-size: 21px;  margin: 0; text-align: center;  height: 40px; overflow: hidden; padding: 10px 5px;
}
.item-slider-home h1 a{
    color:#5a1b00;
}
.item-slider-home a.linkimg{
    text-align: center; display: block;
}
.name-pr{
    font-size: 16px; color:#3a3939; padding: 10px 15px; margin: 0;
    height: 31px; overflow: hidden;
}
.name-pr a{
    color:#3a3939;
}
.price{
    font-size: 28px; width: 60%; margin: 0; padding: 0 0 10px 15px; color: #ea8604; float: left;
}
.price span{
    font-size: 20px;
}
.status{
    width:40%; float: left; color: #ea8604; padding: 10px 5px;
}
/* BANNER-NEWS
-------------------------------------------------------------------------------------------------------*/
.banner-news{
    padding: 40px 30px; overflow: hidden;
}
.banner-home{
    width: 70%; float: left;
}
.wrap-img-banner{
    position: relative;
}
.wrap-img-banner p{
    display: block; position: absolute; top:45%; left:55px; color:#fff; width:70%;
}
.banner-home> .wrap-img-banner> img{
    max-width: 100%;
}
.news-home{
    width: 30%; float: left;  margin-top: -40px;
}
.news-block{
    width:300px; margin: 0 auto;
}
.news-block h1{
    display: block; background: url("/image/lblnews.jpg"); background-repeat: no-repeat;
    background-position: left center; font-size: 27px; color:#8d340e; margin: 0;
    text-align: center; padding: 20px 0; margin-left: 5px;
}
.news-block p{
    margin: 0;
}
.news-home .bx-wrapper .bx-viewport{
    box-shadow: none; -webkit-box-shadow: none;
}
.view-news{
    display: block; text-align: right; padding: 5px 0; margin-bottom: 10px; color:#097ca8; text-decoration: underline;
}
.news-name{
    color:#097ca8; margin-bottom: 5px; text-decoration: underline; display: block;
}
.news-home .bx-wrapper .bx-pager.bx-default-pager a{
    border:1px solid #f5a000; background: #fff;
}
.news-home .bx-wrapper .bx-pager.bx-default-pager a:hover, .news-home .bx-wrapper .bx-pager.bx-default-pager a.active{
    background: #f5a000;
}
.news-home .bx-wrapper{
    margin: 0 auto 40px;
}
.news-block h1.news-pages{
    display: block; background: url("/image/lblpages.jpg"); background-repeat: no-repeat;
    background-position: left center; font-size: 27px; color:#8d340e; margin: 0;
    text-align: center; padding: 20px 0; margin-left: 5px;
}
.bx-wrapper img{
    height: 135px;
}
/* FOOTER
-------------------------------------------------------------------------------------------------------*/
.footer{
    height: 210px; border-top: 4px solid #f59e00; padding: 0 30px;
}
.first-wrap-footer{
    overflow: hidden; border-bottom: 1px solid #f5a000;
}
.footer-logo{
    width: 20%; float: left;
}
.footer-logo a{
    padding: 15px 0 0 0; display: block;
}
.footer-logo a img{
    max-width: 100%;
}
.footer-menu{
    width: 55%; float: left; padding-left: 5px;
}
.footer-adress{
    width: 25%; float: left;
}
.block-item-menu{
    width:25%; float: left;
}
.block-item-menu h3{
    border-bottom: 1px solid #f5a000; margin: 0; padding: 26px 0 10px 0;
}
.block-item-menu h3 a{
    font-size: 16px; color:#8d340e; text-decoration: underline;
}
.footer-menu-links{
    list-style: none; margin: 0; padding: 5px 0;
}
.footer-menu-links li{
    padding: 2px 0;
}
.footer-menu-links li a{
    font-size: 16px; color: #3a3939; text-decoration: underline;
}
.company-name-footer{
    padding: 34px 0 10px 0; font-size: 16px; color:#3a3939; border-bottom: 1px solid #f5a000;
    text-transform: uppercase; text-align: right; margin: 0; height: 63px;
}
.phone-footer{
    text-align: right; padding: 5px 0;
}
.footer-adress p.links-proezd{
    text-align: right;
}
.footer-adress p.links-proezd a{
    color: #1985ae; text-decoration: underline;
}
.two-wrap-footer{
    overflow: hidden;
}
.two-inner-block{
    width:33.33%; float: left;
}
.copy-footer{
    color:#828282; padding: 10px 0 0 0; margin: 0;
}
.oplata-footer{
    color: #8d340e; padding: 10px 0 0 0; text-align: center; margin: 0;
}
.design-footer{
    color:#828282; padding: 10px 0 0 0; text-align: right; margin: 0;
}
.design-footer a{
    color: #1985ae; text-decoration: underline;
}

/*CATALOG MENU
------------------------------------------------------------------------------------------------------*/
.categories-catalog-first{
    width:300px; background: #fff;  position: absolute; border: 1px solid #c6c6c6;
    top:50px; left: 0; z-index:1000; display: none;
}
.ul-cat-links{
    padding: 0; margin: 0;
}
.ul-cat-links > li{
    list-style:none; padding: 10px 0px; border-top: 1px solid #c6c6c6; background: #fff;
}
.ul-cat-links > li:first-child{
    border: none;
}
.ul-cat-links > li >a{
    color: #1985ae; text-transform: uppercase; display: inline-block; position: relative;
    padding-right: 20px; width: 100%; padding-left: 5px;
}
.ul-cat-links > li >a > span.strelka{
    display: block; position: absolute; top:0; right: 3px;
}
.ul-cat-links li:hover{
    background: #f2f2f2;
}
.ul-cat-links li:hover > div.child-category{
    display: block; background: #f2f2f2;
}

.child-category{
    width:750px; position: absolute; top:-1px; left:298px; display: none; background: #fff;
    padding: 5px; border: 1px solid #c6c6c6; border-left: none; max-height: 500px; overflow-y: auto;
}
.item-ch-links{
    width: 50%; float: left;
}
.item-ch-links h3{
    font-size: 20px; padding-left: 20px;
}
.item-ch-links h3 a{
    color: #8d340e;
}
.item-ch-links ul{
    padding: 10px; margin: 0;
}
.item-ch-links ul li{
    list-style: none;
}

/* CATALOG
------------------------------------------------------------------------------------------------------*/
.catalog-wrap{
    width: 100%;  overflow: hidden;
}
.catalog-wrap-filters{
    width:25%; float: left;
}
.catalog-wrap-goods{
    width:75%; float: left;
}
.catalog-child-category{
    padding: 30px 15px; border-bottom: 2px solid #f59e00; background: #fef7de;
}
.catalog-child-category a{
    padding: 3px 5px; display: inline-block; color:#8d340e; text-decoration: underline;
}
.catalog-child-category a:hover{
    text-decoration: none; color:#646464;
}
#catalog-pagination{
    margin: 20px auto; width: 600px; display: block; overflow: hidden;
}
#catalog-pagination  > li > a, #catalog-pagination  > li > span{
    border: 1px solid #f59e00; background: #fef7de; color:#646464;
}
#catalog-pagination > .active > a, #catalog-pagination > .active > span, #catalog-pagination > .active > a:hover, #catalog-pagination > .active > span:hover, #catalog-pagination > .active > a:focus, #catalog-pagination > .active > span:focus{
    background: #f59e00;
}
.wrap-goods{
    padding: 0 24px; overflow: hidden;
}
.wrap-item-goods{
    width:25%; float: left;
}
.item-goods{
    /*height: 290px;*/ margin: 3px; border: 1px solid #e2e2e2; padding: 10px; position: relative;
}
.item-goods img{
    max-width: 100%; height: 126px; text-align: center;
}
.imglink{
    display: block; text-align: center;
}
.item-goods p{
    text-align: left;
}
#good-name{
    height: 40px; cursor: pointer; margin: 5px 0 2px 0; padding: 0;
}
#good-name a{
    color: #3a3939; font-size: 14px;
}
#price{
    font-size: 28px; padding: 0;
}
#status{
    padding: 5px 5px; text-align: right;
}
.btn-buy{
    /*position: absolute; bottom: 10px; right: 10px;*/
}
.btn-braun{
    background: #8d340e; color: #fff;
}
.btn-braun:hover{
    background: #a34a27; color: #fff;
}
/* FILTRS
------------------------------------------------------------------------------------------------------*/
.wrap-filters{
    border-right: 2px solid #f59e00; border-left: 2px solid #f59e00;  margin: 0 0 0 15px;
}
.block-form{
    padding: 15px 10px 10px 15px; border-bottom: 1px solid #dedede; width: 100%;
}
.block-form h3{
    margin: 0 0 10px 0; font-size: 16px;
}

/* Ширина слайдера */
#slider {
    width: 100%; margin:10px 0;
}
/* Контейнер слайдера */
.ui-slider {
    position: relative;
}
/* Ползунок */
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 11px;   /* Задаем нужную ширину */
    height: 14px;  /* и высоту */
    background: url('/image/slider.png') no-repeat; /* картинка изображающая ползунок. Или можно залить цветом, задать бордюр и скругления */
    cursor: pointer;
    outline: none;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;
}
/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
    height: 3px; /* задаем высоту согласно дизайна */
}
/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle {
    top: -5px;
    margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}
/* оформление полосы по которой ходит ползунок */
.ui-widget-content {
    border: 1px solid #f59e00;
    background: #fff;
}
/* оформление активного участка (между двумя ползунками) */
.ui-widget-header {
    border: 1px solid #f59e00;
    background: #f59e00;
}
#minCost, #maxCost{
    width:37%; border:1px solid #f59e00; padding: 3px 5px;
}

.block-form input[type="checkbox"]{
    border:1px solid #f59e00;
}


.checkbox-modern2{
    display: block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    width: 100%;
}
.checkbox-modern2 input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 2;
}
.checkbox-modern2 input[type="checkbox"] + label {
    padding-left: 24px; color:#3a3939; font-weight: normal; padding-top:5px; font-size: 14px;
}
.checkbox-modern2 input[type="checkbox"] + label::before,
.checkbox-modern2 input[type="checkbox"] + label::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -8px;
    width: 16px;
    height: 16px;
}
.checkbox-modern2 input[type="checkbox"] + label::before {
    background: #ffffff; border:1px solid #f59e00;
}
.checkbox-modern2 input[type="checkbox"] + label::after {
    background: url("/image/ch.png");
    border:1px solid #f59e00;
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
}

.checkbox-modern2 input[type="checkbox"]:checked + label::after {
    display: block;
}
.checkbox-modern2 input[type="checkbox"]:checked + label::before,
.checkbox-modern2 input[type="checkbox"]:checked + label::after {
    -webkit-animation: cd-bounce 0.3s;
    -moz-animation: cd-bounce 0.3s;
    animation: cd-bounce 0.3s;
}

.btn-wrap{
    margin: 15px 0 0 0; text-align: center; padding-bottom: 15px;
}
.btn-out{
    border: none; background: #b2b2b2; color:#fff; padding: 10px 20px;
}
.btn-search{
    border: none; background: #f59e00; color:#8d340e; padding: 10px 20px;
}
.bottom-form{
    width:100%; height: 26px; overflow: hidden;
}
.bot-left{
    width:50%; float: left; background: url("/image/formleftbot.jpg");
    background-repeat: no-repeat; height: 26px;
}
.bot-right{
    width:50%; float: left; background: url("/image/formbotright.jpg");
    background-repeat: no-repeat; height: 26px; background-position: top right;
}

.wrap-leftpages-block{
    width:100%; margin-top:10px;
}
.middle-header-left-block{
    width:100%; height: 55px; background: url("/image/shapka2.jpg");
    padding: 10px 0 0 100px; font-size: 20px; color:#8d340e; line-height: 17px; margin-top: -1px;
}
.header-left-pages{
    width:100%; height: 55px; background: url("/image/shapka.jpg");
    padding: 12px 0 0 87px; font-size: 20px; color:#8d340e; line-height: 17px;
}
/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
/*.checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
}*/
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
/*.checkbox + label {
    cursor: pointer;
}*/

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
/*.checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}*/
/* будем позиционировать псевдочекбокс относительно label */
/* оставляем слева от label место под псевдочекбокс */
/*.checkbox:not(checked) + label {
    position: relative;
    padding: 0 0 0 60px;
}*/
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
/*.checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}*/
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
/* анимация, чтобы чекбокс переключался плавно */
/*.checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: all .2s;
}*/
/* Меняем фон чекбокса, когда он включен. */
/*.checkbox:checked + label:before {
    background: #9FD468;
}*/
/* Сдвигаем переключатель чекбокса, когда он включен. */
/*.checkbox:checked + label:after {
    left: 26px;
}*/
/* Показываем получение фокуса. */
/*.checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}*/

/* PAGES
-------------------------------------------------------------------------------------------------------*/
.page-wrap{
    padding: 10px 30px;
}

/* NEWS
------------------------------------------------------------------------------------------------------*/
.wrap-figura-block{
    height: 55px; overflow: hidden; padding-left: 30px;
}
.left-figura{
    height: 55px;
    width: 27px;
    float: left;
    background: url("/image/lefttab.jpg");
}
.center-figura{
    min-width: 200px; height: 55px; float: left; border-top: 1px solid #f59e00; background: #fff;
}
.center-figura h1{
    margin: 0; color:#464646; font-size: 27px; text-align: center; padding-top: 15px;
}
.right-figura{
    height: 55px;
    width: 27px;
    float: left;
    background: url("/image/righttab.jpg");
}
.line-figura{
    border-bottom: 1px solid #f59e00; margin-top: -1px;
}
.news-wrap-list{
    padding: 20px 30px; width: 100%; overflow: hidden; margin-bottom: 20px;
}
.wrap-items-news{
    width:50%; float: left;
}
.item-news{
    border:1px solid #dcdcdc; margin-bottom: 6px; height: 170px; padding: 17px;
}
.wrap-items-news:nth-child(even) .item-news{
    margin-left: 3px;
 }
.wrap-items-news:nth-child(odd) .item-news{
    margin-right: 3px;
}
.item-news img{
    max-width: 100%; border: 1px solid #dcdcdc; float: left; margin-right: 10px;
}
.date-news{
    font-size: 15px; color:#e39200; margin: 0;
}
.item-news h2{
    margin: 5px 0 10px 0; font-size: 21px;
}
.item-news h2 a{
    color:#0263a7; text-decoration: underline;
}
.desc-news{
    font-size: 15px; color:#3a3939;
}

.wrap-page-news{
    width:100%; overflow: hidden; padding: 0 30px;
}
.left-block-page-news{
    width:30%; float: left; padding: 30px 0 0 0;
}
.right-block-page-news{
    width:70%; float: left;
}
.item-news-page-news{
    padding: 0 15px; margin-bottom: 20px;
}
.item-news-page-news h1{
    font-size: 27px; color: #464646;
}
.news-text{
    padding: 20px 0;
}

.wrap-figura-block-full{
    height: 55px; overflow: hidden; width: 100%; position: relative;
}
.left-figura-full{
    height: 55px;
    width: 27px;
    left:0;
    position: absolute;
    background: url("/image/figleftfull.png");
}
.center-figura-full{
    height: 55px; position: absolute; left:27px; right:27px;background: url("/image/figcenterfull.png");
}
.center-figura-full h1{
    margin: 0; color:#5a1b00; font-size: 27px; text-align: center; padding-top: 15px;
}
.right-figura-full{
    height: 55px;
    width: 27px;
    position: absolute;
    right: 0;
    background: url("/image/figrightfull.png");
}
.list-news-page-news{
    border-left: 1px solid #f59e00; border-right: 1px solid #f59e00; margin-bottom: 20px;
}
.list-news-item{
    padding: 20px; border-bottom: 1px solid #f59e00;
}
.link-list-name{
    font-size: 16px; text-decoration: underline; color:#097ca8; text-transform: uppercase;
}
.img-list-block{
    text-align: center; height: 70px; overflow: hidden; margin: 15px 0;
}
.img-list-block img{
    max-width: 100%;
}
.yello-block{
    background: #fef2c3;
}
.center-figura-full h3{
    margin:0; font-size: 18px; color:#5a1b00; line-height: 19px;
    background: url("/image/kaska.png"); background-repeat: no-repeat;
    background-position: left center; padding: 10px 0 0 55px;
}
.middle-header-right-block-full{
    height: 55px; background: url("/image/figcenterfull.png");
    margin-top: -1px; padding: 0 0 0 27px;
}
.middle-header-right-block-full h3{
    margin:0; font-size: 18px; color:#5a1b00; line-height: 19px;
    background: url("/image/car.png"); background-repeat: no-repeat;
    background-position: left 14px;
    padding: 18px 0 10px 55px;
}
.block-form div.help-block {
    display: block;
    color: #737373; text-align: center;
    margin: 0;
}

/* PRODUCT
-----------------------------------------------------------------------------------------------------*/
.wrap-product{
    overflow: hidden; margin: 20px auto;
}
.wrap-images{
    width:30%; float: left;
}
.wrap-product-desc{
    width: 70%; float: left;
}
.home-image-product{
    padding: 0 5px 0 30px;
}
.home-image-product img{
    max-width: 100%;
}
.images-galery{
    margin: 20px 0;
}
.wrap-price-product{
    background: #fef7de; padding: 5px 0; margin-bottom: 20px;
}
.wrap-price-product table{
    width: 100%; border-collapse: collapse;
}
.wrap-price-product table tr td{
    width: 33.33%;
}
.block-kol{
    width: 125px; overflow: hidden; float: left;
}
.left-col{
    width: 35px; height: 35px; background: #f59e00; float: left;
}
.mid-col{
    width: 50px; height: 35px; float: left;
}
.mid-col input{
    width: 50px; border:1px solid #f59e00; padding: 0 3px; height: 35px; text-align: center;
}
.mid-col input:focus{
    outline: none;
}
.right-col{
    width: 35px; height: 35px; background: #f59e00; float: left;
}
.col-minus, .col-plus{
    padding: 7px 9px; color: #fff; font-size: 18px; display: block;
}
.col-minus:hover, .col-plus:hover,.col-minus:focus, .col-plus:focus{
   color: #fff;
}
.block-kol-wrap{
    overflow: hidden;
}
.block-kol-wrap h2{
    float: left; margin: 0 5px; font-size: 21px; color:#5a1b00;padding: 8px 0 0 0;
}
.h2price{
    margin: 0 5px; font-size: 21px; color:#5a1b00;
}
.spanPrice{
    font-size: 28px; color:#ea8604;
}
.spanPrice span{
    font-size: 21px;
}
.prcartBtn{
    font-size: 24px; color:#fff; background:#ea8604; border: none; padding: 10px 35px;
}
.prcartBtn:focus{
    outline: none;
}

/* POPUP CALL
-------------------------------------------------------------------------------------------------------*/
.modal-content{
    border: 15px solid rgba(181, 117, 23, .5);
    border-radius: 0;
    box-shadow: none;
}
.modal-header{
    padding: 13px 15px 14px; border-bottom: 1px solid #f59e00;
}
.modal-header h4{
    margin: 0; color:#5a1b00; font-size: 21px; text-align: center; text-transform: uppercase;
}
.modal-header .close {
    margin-top: -13px;
    margin-right: -15px;
}

/* TEMP CART
-------------------------------------------------------------------------------------------------------*/

div.cart-default-index
{
    padding: 0px 30px;
}
.cart-button-bay{

}

table.cart-table-goods{
    width: 100%;
    border-collapse: collapse;
    border: none;
}
table.cart-table-goods tr:nth-child(odd){
    background-color:  #f2f2f2;
}
table.cart-table-goods tr:nth-child(even){
    background-color:  #fff;
}
table.cart-table-goods tr:hover{
    background-color:  #fef7de;
}
table.cart-table-goods th{
    font-weight: 500;
    text-align: center;
    padding: 8px;
    background-color:  #fff;

}
table.cart-table-goods th.cart-name{
    text-align: left;
}
table.cart-table-goods td{
    border-top:  #e2e2e2 solid 1px;
    margin: 5px;
    text-align: center;
    padding: 8px;
}
table.cart-table-goods td.cart-name{
    text-align: left;
}
table.cart-table-goods td.cart-price,
table.cart-table-goods td.cart-count,
table.cart-table-goods td.cart-sum{
    border-left:  #e2e2e2 solid 1px;
}

table.cart-table-goods tr td.cart_itogo{
    background: #fff;
    text-align: right;

}


table.cart-table-goods td.cart-price span.cart-price-val,
table.cart-table-goods td.cart-sum span.cart-sum-val {
    font-weight: 500;
    font-size: 23px;
    color: #8d340e;
}
table.cart-table-goods td.cart-price span,
table.cart-table-goods td.cart-sum span{
    color: #3a3939;
    font-size: 16px;
}
div.cart-count-block{
    /*width: 116px;
    margin: 0px auto;*/
    cursor: pointer;
}
div.cart-count-block a.cart_down,div.cart-count-block a.cart_up{
    display: inline-block;
    width: 32px;
    height: 34px;
    background-color: #F59E00;
    line-height: 32px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    float: left;
}
div.cart-count-block a:hover,div.cart-count-block a:focus{
    outline: none; text-decoration: none;
}
div.cart-count-block input{
    width: 40px;
    height: 34px;
    border:  #F59E00 solid 1px;
    margin: 0px;
    padding: 2px;
    display: inline-block;
    float: left;
    text-align: center;
}
.wrap-all-sum{
    margin-top: 8px;
}
#all-sum-val{
    color: #ea8604;
    font-size: 26px;
}
.all-sum{
    color: #5a1b00;
    font-size: 24px;
    display: inline-block
}


.cart_submit{
    background: #f59e00; color: #fff;
    border:1px #fff solid;
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    line-height: 34px;
    padding: 4px 10px;
}

.widget-cart-baybutton .btn-buy .cart-count-block{

    /*position: relative;*/
    text-align:right;
    /*height: 44px;*/
    /*right: 0px;
   top: -6px;
*/
}
.btn-buy .cart-count-block{
    /*width: 200px;*/
    /* margin-top: 4px;*/
}
/*.btn-braun.cart-button-bay{
    margin: 0px 0px 0px 5px;
    padding: 5px 12px;
}*/
.btn-braun.cart-button-bay:focus{
    outline: none;
}

.in-cart,.in-cart:active, .in-cart:focus{
    background: green;
    color: #fff; outline: none;
}
.in-cart:hover{
    background: rgb(60, 166, 60);
    color: #fff;
}
.go-to-cart{
    position: absolute; top:20px; right: 0; background: #0088e4;
}
.go-to-cart a{
    color: #fff; padding: 5px 10px; display: block;font-size: 15px;
}


/* ISSUE
-------------------------------------------------------------------------------------------------------*/
#district{
    display: block; margin: 10px 0;
}

.tabs-login-sign{
    margin: 30px 0;
}
.first-tb{
    margin-left: 30px;
}
/* MEDIA
------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width:1216px){
    .widget-cart-baybutton .btn-buy .cart-count-block{
        text-align: left;
    }
    .cart-button-bay{
        margin-top: 2px;
    }
}
@media only screen and (max-width:1170px){
    .ramka{
        margin: 15px auto;
    }
}
@media only screen and (max-width:1075px){
    .ramka{
        margin: 10px auto;
    }
    .child-category{
        width:700px;
    }
}
@media only screen and (max-width:1024px){
    .forum-menu-catalog{
        padding: 0 20px 0 10px;
    }
    .ramka{
        margin: 5px auto;
    }
    .inner-inner-block h1{
        font-size: 22px;
    }
    .banner-news{
        padding: 40px 0 40px 10px;
    }
    .block-item-menu h3{
        margin: 0; padding: 20px 0 10px 0;
    }
    .company-name-footer {
        padding: 28px 0 10px 0; height: 57px;
    }
    .child-category{
        width:690px;
    }
}


@media only screen and (max-width:950px){
    .forum-phone p.phone-text {
        font-size: 13px;
        padding: 18px 0px 0px;
    }
    .forum-phone p.phone-number {
        font-size: 26px;
    }

}


@media only screen and (max-width:820px){
    .forum-header{
        padding: 0 5px;
    }
    .time-delivery {
        font-size: 14px;
    }
    .link-call a {
        font-size: 18px;
    }
    .call-img {
        right: 140px;
    }
    .forum-call {
        width: 24%;
    }
    .forum-phone p.phone-text {
        font-size: 13px;
        padding: 18px 0px 0px;
    }
    .forum-phone p.phone-number {
        font-size: 26px;
    }
}

@media only screen and (max-width:768px){
    .time-delivery p{
        padding: 15px 15px 0 15px;
    }
    .link-call a {
        font-size: 18px;
    }
    .call-img {
        right: 140px;
    }
    .forum-call {
        width: 24%;
    }
    .forum-phone p.phone-text {
        font-size: 13px;
        padding: 18px 0px 0px;
    }
    .forum-phone p.phone-number {
        font-size: 26px;
    }
}
